<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quant</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.3.1118/kendo.flat.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/kendo/2016.3.1118/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2016.3.1118/angular.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/highstock")
    <script src="~/Scripts/kendo/2016.3.1118/kendo.ui.core.min.js"></script>
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript">
        var root = '@Url.Content("~")';
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("量化先锋", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Home")</li>
                    @*<li>
                        @Html.ActionLink("数据服务", "Data", "Home")
                        <ul class="dropdown-menu">
                            @Html.ActionLink("行情数据", "Data", "Home")
                            @Html.ActionLink("关键价位", "Data", "Home")
                        </ul>
                    </li>*@
                    <li>@Html.ActionLink("量化选股", "Selection", "Home")</li>
                    <li>@Html.ActionLink("量化策略", "Strategy", "Home")</li>
                </ul>
                @*<p class="nav navbar-text navbar-right">
                    @Html.ActionLink("系统管理", "Index", "Home")
                </p>*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Quant</p>
        </footer>*@
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
