<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 量化时代</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2016.3.1118/kendo.flat.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/kendo/2016.3.1118/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2016.3.1118/angular.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/highstock")
    <script src="~/Scripts/kendo/2016.3.1118/kendo.ui.core.min.js"></script>
    @Scripts.Render("~/bundles/app")
    <script type="text/javascript">
        var root = '@Url.Content("~")';
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("量化先锋", "index", "home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "index", "home")</li>
                    <li></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            量化分析
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("大盘分析", "index", "analysis")</li>
                            <li>@Html.ActionLink("板块分析", "sector", "analysis")</li>
                            <li>@Html.ActionLink("个股分析", "singlename", "analysis")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            量化选股
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("技术选股", "index", "selection")</li>
                            <li>@Html.ActionLink("关键价格", "hitkeyprice", "selection")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("量化策略", "index", "strategy")</li>
                </ul>
                @*<p class="nav navbar-text navbar-right">
                    @Html.ActionLink("系统管理", "Index", "Home")
                </p>*@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Quant</p>
        </footer>*@
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
